project:
  type: website

website:
  title: "Helen Grapow"
  description: "Helen Grapow is a PhD Candidate in Economics at Ghent University, Belgium."
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: research.qmd
        text: Research
      - href: cv.qmd
        text: CV
  page-footer:
    left: "(c) Helen Grapow. [Disclaimer](disclaimer)"

format:
  html:
    theme:
      - cosmo
      - custom.scss
    toc: false
    fig-align: center



